In [25]:
#importação das bibliotecas
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [26]:
#importação da base de dados
data = pd.read_csv('HousingData.csv')
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [27]:
#verificando se existem dados nulos
data.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [20]:
data["CRIM"].describe()

count    486.000000
mean       3.611874
std        8.720192
min        0.006320
25%        0.081900
50%        0.253715
75%        3.560263
max       88.976200
Name: CRIM, dtype: float64

In [28]:
#tratando valores nulos com o valor das medianas
medianCRIM = data["CRIM"].median(skipna = True)
medianCRIM

0.253715

In [31]:
data.fillna({"CRIM":medianCRIM},inplace = True)

In [32]:
medianZN = data["ZN"].median(skipna = True)
medianZN

0.0

In [34]:
data.fillna({"ZN":medianZN},inplace = True)

In [35]:
medianINDUS = data["INDUS"].median(skipna = True)
medianINDUS

9.69

In [36]:
data.fillna({"INDUS":medianINDUS},inplace = True)

In [37]:
medianCHAS = data["CHAS"].median(skipna = True)
medianCHAS

0.0

In [38]:
data.fillna({"CHAS":medianCHAS},inplace = True)

In [39]:
medianAGE = data["AGE"].median(skipna = True)
medianAGE

76.80000000000001

In [41]:
data.fillna({"AGE":medianAGE},inplace = True)

In [42]:
medianLSTAT = data["LSTAT"].median(skipna = True)
medianLSTAT

11.43

In [44]:
data.fillna({"LSTAT":medianLSTAT},inplace = True)

In [45]:
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [61]:
#verificação da descrição das colunas para o tratamento de outliers
for col in data.columns:
    print(data[col].describe())
    print("------------------------------")

count    506.000000
mean       3.479140
std        8.570832
min        0.006320
25%        0.083235
50%        0.253715
75%        2.808720
max       88.976200
Name: CRIM, dtype: float64
------------------------------
count    506.000000
mean      10.768775
std       23.025124
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      100.000000
Name: ZN, dtype: float64
------------------------------
count    506.000000
mean      11.028893
std        6.704679
min        0.460000
25%        5.190000
50%        9.690000
75%       18.100000
max       27.740000
Name: INDUS, dtype: float64
------------------------------
count    506.000000
mean       0.067194
std        0.250605
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: CHAS, dtype: float64
------------------------------
count    506.000000
mean       0.554695
std        0.115878
min        0.385000
25%        0.449000
50%        0.538000
75%        0.624000
max        0.871000
Name: NOX, dtype: float64
------------------------------
count    506.000000
mean       6.284634
std        0.702617
min        3.561000
25%        5.885500
50%        6.208500
75%        6.623500
max        8.780000
Name: RM, dtype: float64
------------------------------
count    506.000000
mean      68.845850
std       27.486962
min        2.900000
25%       45.925000
50%       76.800000
75%       93.575000
max      100.000000
Name: AGE, dtype: float64
------------------------------
count    506.000000
mean       3.795043
std        2.105710
min        1.129600
25%        2.100175
50%        3.207450
75%        5.188425
max       12.126500
Name: DIS, dtype: float64
------------------------------
count    506.000000
mean       9.549407
std        8.707259
min        1.000000
25%        4.000000
50%        5.000000
75%       24.000000
max       24.000000
Name: RAD, dtype: float64
------------------------------
count    506.000000
mean     408.237154
std      168.537116
min      187.000000
25%      279.000000
50%      330.000000
75%      666.000000
max      711.000000
Name: TAX, dtype: float64
------------------------------
count    506.000000
mean      18.455534
std        2.164946
min       12.600000
25%       17.400000
50%       19.050000
75%       20.200000
max       22.000000
Name: PTRATIO, dtype: float64
------------------------------
count    506.000000
mean     356.674032
std       91.294864
min        0.320000
25%      375.377500
50%      391.440000
75%      396.225000
max      396.900000
Name: B, dtype: float64
------------------------------
count    506.000000
mean      12.664625
std        7.017219
min        1.730000
25%        7.230000
50%       11.430000
75%       16.570000
max       37.970000
Name: LSTAT, dtype: float64
------------------------------
count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: MEDV, dtype: float64
------------------------------